<div class="page-wrapper">
  <mat-expansion-panel class="entities-wrapper">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button mat-mini-fab
                class="plus-button"
                (click)="btnClickHandler($event)">
          +
        </button>
        <span *ngIf="entitiesConnected > 0"
          class="entity-counter-wrapper">
          Entity connected ({{entitiesConnected}})
        </span>
      </mat-panel-title>
      <mat-panel-description *ngIf="entitiesConnected === 0">
        Connect entities
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div
      *ngFor="let entity of this.entities"
        >
      <div *ngIf="entity.chosen"
           class="connected-entity-wrapper">
        <p class="entity-label">{{entity.name}}</p>
        <p class="entity-group">{{entity.group}}</p>
      </div>

    </div>

  </mat-expansion-panel>
</div>


